<html>
	<head>
		<title>Blog App</title>
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		 <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	
	<body>
		<div class="ui fixed inverted menu" id="nav">
			<div class="ui container">
				<div class="header item" id="blog"><i class="blogger icon"></i>Blog  Site</div>
				<a href="/" class="item" id="blog">Home</a>
			    <a href="/blogs/new" class="item" id="blog">New Post</a>
			</div>
		</div>
